import React, { FC } from 'react';

interface Props {}

/**
 * {{{NAME}}}Presenter
 *
 * @param {Props} { }
 */
export const {{{NAME}}}Presenter: FC<Props> = ({}: Props) => {
  return <div className=''>テスト</div>
};
